</style>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">



<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Website</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Start</a></li>        
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/user/signup"><span class="fas fa-user-circle"></span> Register</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/user/login"> Login<span class="caret" class="glyphicon glyphicon-log-in"></span></a>
          <ul class="dropdown-menu nav navbar-nav navbar-right navbar-inverse" >
              <li><a href="/user/login"> <i class="fas fa-user"></i>   User</a></li> 
            <li><a href="#"><i class="fab fa-facebook-square"></i>   Facebook</a></li>
            <li><a href="/auth/google"><i class="fab fa-google"></i>   Google</a></li>
          </ul>
        </li>
        <li><a href="/auth/logout" metho><span class="fas fa-sign-out-alt"></span> Logout</a></li>
      </ul>
    </div>
  </nav>

<div class = "container">
  <div class="row">
    <div  class="col-sm-6">
        <div class="panel">
            <h2><%= article.title %>
            </h2>
        </div>
        <div class="panel">
            <h3>Category: <%= article.category %></h3>
        </div>
        <div class="panel">
            <h4>Location: <%= article.location %></h4>
        </div>
        <div class="panel">
            <p><%= article.content %></p>
        </div>
    </div>

    
     <%article.pathPicture.forEach(function(e){%>
        <img src='<%=e %>'>
      <%})%>
      
      

  <div class="col-sm-6">
    <h3>Upload your photo</h3>
    <form action="/articles/<%=article._id%>" method="post" enctype="multipart/form-data">
      <input placeholder="description" type="text" name="name">
      <input type="file" name="photo" accept="image/*">
      <input type="submit" value="Save">
    </form>
  </div>
</div>
</div>

